@import url('https://fonts.googleapis.com/css?family=Inconsolata');

a:link,
a:active,
a:visited {
    color: #bbbbbb;
    text-decoration: none;
}

body {
    font-family: "Inconsolata", "Courier New", monospace;
    height: 100%;
    background-color: white;
}

header {
    border-bottom: 1px solid #bbbbbb;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
}

header > h1 {
    font-size: 60px;
    font-weight: normal;
}

.about {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #bbbbbb;
    margin: 5px;
    padding: 5px;
}

.controls {
    margin-bottom: 10px;
}

hr {
    background-color: #bbbbbb;
    border: 0;
    height: 1px;
}

.tasks {
    margin-top: 90px;
}

.task-add {
    box-sizing: border-box;
    display: inline-block;
    width: 500px;
    margin: 10px;
    margin-right: 5px;
    padding: 10px;
    font-size: 30px;
    color: #777777;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.task-add:focus {
    outline: 0;
}

.task-submit {
    /* display: none; */
    margin: 10px;
    margin-left: 5px;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    border: 1px solid #bbbbbb;
    color: #777777;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.1s ease-in-out;
}

.task-submit:hover {
    background-color: #eeeeee;
}

.task {
    border: 1px solid #bbbbbb;
    overflow-wrap: break-word;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 400px;
    font-size: 20px;
    transition: background-color 0.1s;
}


@media screen and (max-width: 550px) {
    .task-add {
        width: 60%;
        margin-right: 5px !important;
    }
    .task {
        width: 90%;
    }
    .task-submit {
        display: inline-block;
    }
}

@media screen and (max-width: 1000px) {
    .about {
        display: none;
    }
}
